#welcome-section{	
	text-align: center;	
}

#navbar {
	float: right;
	position: fixed;
	top: 0;
	background-color: grey; 
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

#welcome-section{
	
	height: 100vh;
}